<div class="text-center">
    <h2 class="display-4">Travel</h2>
    <form class="form-travel" #travelForm="ngForm" (submit)="onSubmit(travelForm)">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
        </ngb-datepicker>
        
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
        <div class="container">
            <div class="row">
                <div class="inputCalendar">
                    <input class="form-control col md-6" type="text" name="startDate">
                </div>
                <ngb-timepicker 
                class = col-md-6
                [(ngModel)]="fromTime"
                name="startTime"
                [seconds]="false"
                [hourStep]="hourStep" 
                [minuteStep]="minuteStep"></ngb-timepicker>
            </div>
        </div>
        
        <div>Ende {{toDate | json}}</div>
        
        <ngb-timepicker 
            [(ngModel)]="toTime"
            name="endTime"
            [seconds]="false"
            [hourStep]="hourStep" 
            [minuteStep]="minuteStep"></ngb-timepicker>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="customer" #customer="ngModel" [(ngModel)]="service.formData.customer" class="form-control"
                    placeholder="Kunde" required>
                <div *ngIf="customer.invalid && customer.touched" class="validation-error">This Field is required</div>
            </div>
            <div class="form-group col-md-6">
                <input name="reason" #reason="ngModel" [(ngModel)]="service.formData.reason" class="form-control"
                    placeholder="Zweck" required>
                <div *ngIf="reason.invalid && reason.touched" class="validation-error">This Field is required</div>
            </div>
        </div>
        <div class="form-group">
            <input name="userId" #start="ngModel" [(ngModel)]="service.formData.userId" class="form-control"
                placeholder="User Id">
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="travelForm.invalid"
                class="btn btn-lg btn-block btn-info">Speichern</button>
        </div>
    </form>
</div>