<nav class="navbar navbar-dark bg-dark">
    <div>
    <a class="navbar-brand" href="#">
        <img src="../assets/logo/milan_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <span class="nav-item" routerLinkActive href='#' style="margin: 0.5rem; color: white;">Dashboard</span>
    <span class="nav-item" routerLinkActive href='#' style="margin: 0.5rem; color: white;">Neue Reise</span>
    <span class="nav-item" routerLinkActive href='#' style="margin: 0.5rem; color: white;">Alle Reisen</span>
    </div>
   <ul class="nav justify-content-end">
    <li class="nav-item">
      <i class="fas fa-sign-in-alt" style="margin: 0.5rem; color:white;" routerLink="/login" routerLinkActive></i>
    </li>
    <li class="nav-item">
      <i class="fas fa-user-plus" style="margin: 0.5rem; color:white;" routerLink="/register" routerLinkActive></i>
    </li>
    <li class="nav-item">
      <i class="fas fa-sign-out-alt" style="margin: 0.5rem; color:white;" routerLink="/logout" routerLinkActive></i>
    </li>
  </ul> 
  </nav>
