<div class="container col-md-6">
    <form #customer class="form-customer">
        <div class="form-label-group">
            <label class="sr-only">Kunde</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Kunde">
        </div>
        <div class="form-label-group">
            <label class="sr-only">Ort</label>
            <input class="form-control" type="text" name="city" id="city" placeholder="Ort">
        </div>
        <div class="form-label-group">
            <label class="sr-only">Land</label>
            <input class="form-control" type="text" name="country" id="country" placeholder="Land">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Speichern</button>
    </form>
</div>
