<div class="text-center">
    <form #login class="form-signin">
        <div class="form-label-group">
            <label class="sr-only">Kunde</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Kunde">
        </div>
        <div class="form-label-group">
            <label class="sr-only">Ort</label>
            <input class="form-control" type="text" name="city" id="city" placeholder="Ort">
        </div>
        <div class="form-label-group">
            <label class="sr-only">Land</label>
            <input class="form-control" type="text" name="country" id="country" placeholder="Password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Speichern</button>
        <p class="mt-5 mb-3 text-muted">@ 2020</p>
    </form>
</div>
