<div class="text-center">
    <form #login class="form-signin">
        <img class="mb-4" src="../assets/logo/milan_logo.png" alt="" width="75" height="75">
        <h2 class="h3 mb-3 font-weight-normal">Login</h2>
        <div class="form-label-group">
            <label class="sr-only">E-Mail</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="E-Mail">
        </div>
        <div class="form-label-group">
            <label class="sr-only">Passwort</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">@ 2020</p>
    </form>
</div>